<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WordFontConversion.FontSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <WordFontConversion.FontSettings>
            <setting name="remoteURL2" serializeAs="String">
                <value>http://localhost:8801/wordPluginFontConvert</value>
            </setting>            
            <setting name="serviceName" serializeAs="String">
                <value>FontConversion</value>
            </setting>
            <setting name="serviceRenewURL" serializeAs="String">
                <value>https://hijje.com/</value>
            </setting>
            <setting name="servicePaymentURL" serializeAs="String">
                <value>https://hijje.com/</value>
            </setting>
        </WordFontConversion.FontSettings>
    </applicationSettings>
</configuration>
